Source: famiphoto-frontend
Section: net
Maintainer: Hirokazu Yokoyama <hiroyky.voyager@gmail.com>
Priority: optional
Build-Depends: nodejs (>= 20.7.0)
Depends: nodejs (>= 20.7.0)
Standards-Version: 4.6.2.0
Package: famiphoto-frontend
Architecture: amd64
Description: Famiphoto Frontend
Version: 1701449159
